# Django Core
Django~=5.2.5
dj-database-url
python-decouple

# DRF & API
djangorestframework
djangorestframework-simplejwt
drf-spectacular
django-filter

# CORS
django-cors-headers

# Celery
celery
redis
django-celery-beat
django-celery-results

# Uncomment the line below if you use PostgreSQL
# psycopg2-binary